@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 700px;
}

.card-container {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.mainheading {
    text-align: left;
    color: #5752ab;
    font-family: "Bree Serif";
    font-size: 20px;
    font-weight: 500;
}

.paragraph {
    text-align: left;
    color: #323f4b;
    font-family: "Roboto";
}

.button {
    border-color: #d7dfe9;
    height: 40px;
    width: 120px;
    border-radius: 10px;
}

.button1 {
    color: #171f46;
    background-color: #ffffff;
    font-size: 13px;
    margin-right: 3px;
}

.button2 {
    color: #ffffff;
    background-color: #5752ab;
    font-size: 13px;
    margin-left: 3px;
}